.TextLengthInputValidation {
    border: "medium";
    width: "10%";

    .TextLengthInputValidation.valid {
        color: green;
    }

    .TextLengthInputValidation.invalid {
        color: red;
    }
}
